<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://cdn.bootcss.com/d3/3.5.5/d3.min.js"></script>
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
      {{{ xIco }}}
      <style>
        .loading {
          color: #f60; 
        }
      </style>
      <title>{{ title }}</title>
    </head>
    <body>
      <div id="app">
        <div class="loading">
          loading
        </div>
      </div>
      {{{ xScript 'main' }}}
      {{{ xScript 'vendors~main' }}}
    </body>
    </html>